;
; PHP Session related configs
;

; Domain name
sessionDomain='localhost'

; Value=base64_encode(openssl_random_pseudo_bytes(32))
ENCRYPTION_PASS_PHRASE='H7OO2m3qe9pHyAHFiERlYJKnlTMtCJs9ZbGphX9NO/c='

; Value=base64_encode(openssl_random_pseudo_bytes(16))
ENCRYPTION_IV='HnPG5az9Xaxam9G9tMuRaw=='

; MySql
mySqlServerHostname='localhost'
mySqlServerPort=3306
mySqlServerUsername='root'
mySqlServerPassword='shames11'
mySqlServerDatabase='session_db'
mySqlServerTable='sessions'

; PostgreSql
pgSqlServerHostname='localhost'
pgSqlServerPort=5432
pgSqlServerUsername=''
pgSqlServerPassword=''
pgSqlServerDatabase='session_db'
pgSqlServerTable='sessions'

; MongoDb
mongoDbServerHostname='localhost'
mongoDbServerPort=27017
mongoDbServerUsername=''
mongoDbServerPassword=''
mongoDbServerDatabase='session_db'
mongoDbServerCollection='sessions'

; Redis
redisServerHostname='localhost'
redisServerPort=6379
redisServerUsername=''
redisServerPassword=''
redisServerDatabase=0;

; Memcached
memcachedServerHostname='localhost'
memcachedServerPort=11211

sessionName='PHPSESSID'         ; Default
sessionDataName='PHPSESSDATA'   ; For sessionMode Cookie

sessionMaxLifetime=3600
sessionSavePath='sessions'
