;
; Required configs
;

ENVIRONMENT=0                           ; Environment PRODUCTION = 1 / DEVELOPMENT = 0
OUTPUT_PERFORMANCE_STATS=1              ; Add Performance Stats in JSON output: 1 = true / 0 = false
DISABLE_REQUESTS_VIA_PROXIES=1          ; 1 = true / 0 = false

; API authentication modes - Token / Session (Cookie based Sessions)
enableOpenRequest=1                    ; 1 = true / 0 = false
enableAuthRequest=1                    ; 1 = true / 0 = false
authMode='Token'                        ; Token / Session (Cookie based Sessions)
sessionMode='File'                      ; For Cookie based Session - 'File', 'MySql', 'PostgreSql', 'MongoDb', 'Redis', 'Memcached', 'Cookie'
enableConcurrentLogin=1                ; 1 = true / 0 = false
maxConcurrentLogin=2                   ; simultaneous login limit
concurrentAccessInterval=60             ; Concurrent Access Interval in Seconds

; Data Representation: JSON/XML/XSLT/HTML/PHP
iRepresentation='JSON'                  ; JSON/XML - Input Data Representation
oRepresentation='JSON'                  ; JSON/XML/XSLT/HTML/PHP - Output Data Representation
enableInputRepresentationAsQueryParam=1 ; 1 = true / 0 = false
enableOutputRepresentationAsQueryParam=1; 1 = true / 0 = false
enablePayloadInResponse=1               ; 1 = true / 0 = false
payloadKeyInResponse='Payload'

; Default perPage (records per page)
defaultPerPage=10
maxResultsPerPage=1000

; Global Auto-Increment counter detail
enableGlobalCounter=0               ; 1 = true / 0 = false
gCounter='global_counter'           ; Key or Table
gCounterMode='Cache'                ; Globally configured Cache / Database

; Settings to avoid Idempotent request
idempotentSecret='changeme'         ; hash_hmac secret
