; Reference https://github.com/polygoncoin/Session-Handlers

; Domain name
sessionDomain='localhost'

; Value=base64_encode(openssl_random_pseudo_bytes(32))
ENCRYPTION_PASS_PHRASE='H7OO2m3qe9pHyAHFiERlYJKnlTMtCJs9ZbGphX9NO/c='

; Value=base64_encode(openssl_random_pseudo_bytes(16))
ENCRYPTION_IV='HnPG5az9Xaxam9G9tMuRaw=='

; MySql
MYSQL_HOSTNAME='localhost'
MYSQL_PORT=3306
MYSQL_USERNAME='root'
MYSQL_PASSWORD='shames11'
MYSQL_DATABASE='session_db'
MYSQL_TABLE='sessions'

; PostgreSql
PGSQL_HOSTNAME='localhost'
PGSQL_PORT=5432
PGSQL_USERNAME=''
PGSQL_PASSWORD=''
PGSQL_DATABASE='session_db'
PGSQL_TABLE='sessions'

; MongoDb
MONGODB_HOSTNAME='localhost'
MONGODB_PORT=27017
MONGODB_USERNAME=''
MONGODB_PASSWORD=''
MONGODB_DATABASE='session_db'
MONGODB_COLLECTION='sessions'

; Redis
REDIS_HOSTNAME='localhost'
REDIS_PORT=6379
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_DATABASE=0;

; Memcached
MEMCACHED_HOSTNAME='localhost'
MEMCACHED_PORT=11211

sessionName='PHPSESSID'         ; Default
sessionDataName='PHPSESSDATA'   ; For sessionMode Cookie

sessionMaxLifetime=3600
sessionSavePath='sessions'
