;
; Route related config (to allow / now to allow) settings
;

;; Enabled detail configuration
;; Keyword to append with in route with slash
;; ==========================================
; Explain Route & its Payload
explainRequestRouteKeyword='explain'      ; to append "/explain" at the end of route
; Export CSV
mySqlBinaryLocationOnWebServer='/usr/local/bin/mysql'
; Import CSV
importRequestRouteKeyword='import'        ; to append "/import" at the end of route
; Import CSV Sample
importSampleRequestRouteKeyword='import-sample'
; Listing available routes
routesRequestRoute='routes'
; Supplement feature Prefix
dropboxRequestRoutePrefix='cdn'
cronRequestRoutePrefix='cron'
customRequestRoutePrefix='custom'
reloadRequestRoutePrefix='reload'
thirdPartyRequestRoutePrefix='thirdParty'
uploadRequestRoutePrefix='upload'
