;
; Container related configs for customer
;

; --- Customer Container detail -------

; ---- Global Customer Cache (for Api Gateway)
; Supported Container - Redis / Memcached / MongoDb
; (param names are dynamic in code - names can be changed in DB)
cCacheServerType='Redis'
cCacheServerHostname='127.0.0.1'
cCacheServerPort=6379
cCacheServerUsername='ramesh'
cCacheServerPassword='shames11'
cCacheServerDB=0
cCacheServerTable='customer_001'      ; For MongoDb

; ------ Dedicated Database for Customer 001 --------
; Dedicated database for each customer on single host
; Only database changes rest detail remains same.
; Supported Container - MySql / PostgreSql
cDbServerType001='MySql'
cDbServerHostname001='127.0.0.1'
cDbServerPort001=3306
cDbServerUsername001='root'
cDbServerPassword001='shames11'
cDbServerDatabase001='customer_001'
cDbServerQueryPlaceholder001='Named'; Named(:param) / Unnamed(?)

; ---- Query cache for cache hit of generated APIs output
; Supported Container - Redis / Memcached / MySql / PostgreSql / MongoDb
; (param name are hardcoded in code - names cannot be changed)
queryCacheServerType='Redis'
queryCacheServerHostname='127.0.0.1'
queryCacheServerPort=6379
queryCacheServerUsername='ramesh'
queryCacheServerPassword='shames11'
queryCacheServerDB=0
queryCacheServerTable='api_cache' ; For MySql / PostgreSql / MongoDb
