; --- Global Container detail -------

; ---- Global cache (for Api Gateway)
; user <username> allcommands allkeys on ><password>
; used to save user and token related detail
; Supported Container - Redis / Memcached / MongoDb
gCacheServerType='Redis'
gCacheServerHostname='127.0.0.1'
gCacheServerPort=6379
gCacheServerUsername='ramesh'
gCacheServerPassword='shames11'
gCacheServerDb=0
gCacheServerTable='global_cache'        ; For MongoDb

; --- Global Database
; Global Database detail - global.sql
; Supported Container - MySql / PostgreSql
gDbServerType='MySql'
gDbServerHostname='127.0.0.1'
gDbServerPort=3306
gDbServerUsername='root'
gDbServerPassword='shames11'
gDbServerDb='global'
gDbServerQueryPlaceholder='Named'   ; Named(:param) / Unnamed(?)

; Master database on global MySql server
customerMasterDb='customer_master'             ; contains all entities necessary for a new customer

; Tables
customerTable='customer'
groupsTable='group'

; SQL query placeholder
queryPlaceholder='Named'            ; Named(:param) / Unnamed(?)
